input.ng-invalid.ng-touched,
form.ng-dirty .ng-invalid {
    border: 1px solid $invalid-red;
    color: $invalid-red;
}

.form-horizontal {
    .form-text {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: center;
    }
    .form-text-inline {
        display: inline-block;
        vertical-align: middle;
    }
}

.form-inline {
    >.form-line:nth-child(n+2) {
        margin-top: 10px;
    }
    .form-group:nth-child(n+2) {
        margin-left: 20px;
    }
}
