[submodule "zhifuliu"]
    path = src/bower_modules
    url = git@github.com:zhifuliu//zhifuliu.git

[submodule "collect-front"]
    path = src/bower_modules
    url = git@gitlab.com:zhifu.liu//collect-front.git

