<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>angular-scope 实验</title>
    <link rel="stylesheet" href="./css/style.css" media="screen" title="no title" charset="utf-8">
    <script src="./lib/angular-1.5.4.js"></script>
</head>
<body>
    <div class="bk-color-1">
        <pre>
            angularJS 控制器 控制 angularJS 应用程序的数据，是常规的 js 对象
            angularJS 应用程序被控制器控制， ng-controller 指令定义了应用程序控制器
            控制器方法

            外部文件控制器：
            在大型的应用程序中，通常是把控制器存储在外部文件中，只需要被 scripe 标签中的代码复制到外部 js 文件中就可以，然后用script 引入js文件

            改 demo 将以一个外部 js 文件来做控制器的demo, 并添加 控制器方法
        </pre>
        <br><br>
    </div>

    <form ng-app="myApp" class="bk-color-2" ng-controller='extendCtrl'>
        <p>名:<input type="text" ng-model='firstName'></p><br>
        <p>姓:<input type="text" ng-model='lastName'></p><br>
        <p>姓名:{{fullName()}}</p><br> <!-- 注意这个地方是函数，不是属性。之前一直没显示，没加运行函数的括号 -->
    </form>

    <!-- 引入外部js controller -->
    <script type="text/javascript" src='./controller/controller_demo_extend.js'></script>
    <script>
        /*
        var app = angular.module('myApp', []);
        app.controller('extendCtrl', function($scope) {
            $scope.firstName = 'zhifu';
            $scope.lastName = 'liu';
            $scope.fullName = function() {
                return $scope.firstName + ' ' + $scope.lastName;
            }
        });
        */
    </script>
</body>
</html>
